.section {
    display: flex;
    flex-direction: column;
}

.heading {
    font-family: 'Squada One', cursive;
    font-size: 36px;
}

.desktopTitle {
    display: none;
}

.content {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 13px;
    color: #262626;
    line-height: 24px;
}

.content>div {
    margin-top: 18px;
}

.cardContainer {
    margin-top: 18px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.detailContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #FFFFFF;
    margin-top: 18px;
    padding: 20px;
    position: relative;
}

.index {
    color: #262626;
    font-family: 'Squada One', cursive;
    font-weight: 400;
    font-size: 20px;
    margin-top: 10px;
}

.title {
    color: rgba(38, 38, 38, 0.4);
    font-family: 'Squada One', cursive;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 12px;

}

.cancelIcon {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    width: 20px;
}

.detailContainer>div:last-child {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 14px;
    color: #262626;
    line-height: 24px;
}

.detailContainer>div:last-child>div {
    margin-bottom: 18px;
}

.cardImage {
    text-align: right;
}

.cardImage>img {
    width: 143px;
}

@media screen and (min-width: 720px) {
    .heading {
        font-size: 60px;
        max-width: 800px;
    }

    .content {
        font-size: 14px;
        max-width: 800px;
    }

    .cardContainer {
        flex-direction: column;
    }

    .detailContainer {
        padding: 50px;
    }

    .index {
        font-size: 36px;
    }

    .title {
        font-size: 24px;
    }

    .cardImage {
        text-align: center;
    }

    .cardImage>img {
        width: 329px;
    }
}

@media screen and (min-width: 1024px) {
    .title, .index {
        display: none;
    }

    .section {
        padding: 30px;
    }

    .cardContainer {
        flex-direction: row;
    }

    .desktopTitle {
        display: block;
        font-family: 'Squada One', cursive;
        font-weight: 400;
        font-size: 50px;
        color: rgba(38, 38, 38, 0.4);
    }

    /* .textContent {
        width: 50%;
    } */

    .imageDetail{
        display: flex;
        align-items: center;
    }

}