.card {
    font-family: 'Squada One', cursive;
    font-weight: 400;
    background-color: #FFFFFF;
    width: 140px;
    height: 152px;
    margin: 2px;
    position: relative;
    overflow: hidden;
}

.index {
    color: #262626;
    margin: 20px 0px 0px 20px;
}

.title {
    color: rgba(38, 38, 38, 0.4);
    margin-left: 20px;
}

.img {
    opacity: 0.5;
    position: absolute;
    bottom: -45px;
    right: -45px;
}

.img>img {
    width: 143px;
}

@media screen and (min-width: 512px) {
    .card{
        width: 150px;
        height: 162px;
        margin: 5px;
    }
}

@media screen and (min-width: 720px) {
    .card {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 15px 2px;
    }

    .index {
        font-size: 36px;
        margin-left: 50px;
        margin-top: 0px;
    }

    .title {
        font-size: 24px;
        margin-left: 50px;
    }

    .img {
        bottom: -90px;
        right: -140px;
    }
    
    .img>img {
        width: 329px;
    }
    
}

@media screen and (min-width: 1024px) {
    .card {
        width: 600px;
        margin: 15px;
    }
}