.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    color: #382D72;
}
.navIcon {
    display: none;
    margin-left: 30px;
    cursor: pointer;
}

.metamenkoLogo {
    cursor: pointer;
}

.links {
    margin-left: 200px;
}

.links ul {
    display: flex;
    padding: 0;
    margin: 0;

}

.links ul li {
    list-style: none;
    padding: 5px;
    font-weight: 700;
    font-size: 12px;
    cursor: pointer;
     line-height: 22px;
    text-align: center;
    text-transform: capitalize;
}
.links ul li{
    margin: 10px 20px;
}

.links ul li:last-child{
    margin-right: 0px;
}

.links ul li::after{
    content: '';
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  rgba(0, 0, 0, 0.05);
    height: 1px;
    margin-top: 5px;
}
.links ul li a {
    color: #382D72;
}

.links ul li a:link {
    text-decoration: none;
}

.links ul li a:visited {
    text-decoration: none;
}

@media screen and (max-width: 1140px) {
    .navbar {
        padding: 20px 30px;
    }

    .navIcon {
        display: block;
    }

    .links {
        display: none;
    }
}