.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 21px 24px;
    background-color: #ffffff;
}

.companyName {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 12px;
    color: #C0C0C0;
}