.section{
    display: flex;
    flex-direction: column;

}

.heading{
    font-family: 'Squada One', cursive;
    font-size: 36px;
}

.content{
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 13px;
    color: #262626;
    line-height: 24px;
}

.content > div{
    margin-top: 18px;
}