.section{
    display: flex;
    flex-direction: column;
}

.heading{
    font-family: 'Squada One', cursive;
    font-size: 36px;
}

.content{
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 13px;
    color: #262626;
    line-height: 24px;
}

.content > div{
    margin-top: 18px;
}

.smallSwords{
    text-align: right;
}

.bigSwords{
    display: none;
}

@media screen and (min-width: 720px) {
    .smallSwords{
        display: none;
    }

    .heading, .content{
        max-width: 340px;
    }

    .heading{
        font-size: 50px;
    }

    .content{
        font-size: 14px;
    }

    .bigSwords{
        display: block;
        position: absolute;
        right: 20px;
        top: -80px;
    }
    .bigSwords>img{
        width: 327px;
    }
}

@media screen and (min-width: 1024px) {
    .heading{
        font-size: 60px;
    }
    .heading, .content{
        max-width: 500px;
    }
    
    .bigSwords{
        right: 30px;
        top: -128px;
    }
    .bigSwords>img{
        width: 523px;
    }

}